
<div *ngIf="item">
    <h2><span jhiTranslate="mycommerceApp.item.detail.title">Item</span> {{item.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mycommerceApp.item.productID">Product ID</span></dt>
        <dd>
            <span>{{item.productID}}</span>
        </dd>
        <dt><span jhiTranslate="mycommerceApp.item.price">Price</span></dt>
        <dd>
            <span>{{item.price}}</span>
        </dd>
        <dt><span jhiTranslate="mycommerceApp.item.login">Login</span></dt>
        <dd>
            <span>{{item.login}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
